@model Yokanjeo.Models.ViewModels.TablaViewModel

@{
    ViewBag.Title = "Nuevo";
    Layout = "~/Views/Shared/_PrincipalLayout.cshtml";
}














    @Html.ActionLink("Back to List", "Index")
</div>
